* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.app-heading {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 25px;
}
p {
  font-size: 30px;
  margin: 10px;
  font-weight: 200;
}
