.display-boundary {
  height: 100px;
  width: 100%;
  border: 2px solid rgb(187, 186, 186);
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 10px;
}
